---
 - name: Installing apache2 and updating firewall
   hosts: Ubuntu
   vars_files:
   - group_vars/variable

   tasks:

   - name: Updating Ubuntu packages
     apt:
      update_cache: yes

   - name: Installing apache2
     apt:
      name: apache2
      state: latest

   - name: checking apache version
     shell: apache2 -v
     register: apachev

   - name: Show output
     debug:
       msg: "{{ apachev.stdout }}"

   - name: allow HTTP
     ufw: 
      rule: allow
      direction: in
      name: Apache

 - name: Installing MySQL packages
   hosts: Ubuntu

   vars_files:
   - group_vars/variable

   tasks:

   - name: Installing MySQL
     apt:
      name: mysql-server
      state: latest

   - name: Installing MySQL-Python
     apt:
      name: python3-mysqldb
      state: latest

   - name: Starting MySQL
     service:
      name: mysql
      state: started
      enabled: true
   
   - name: Executing the secure Installation, Setting MySQL root pass
     mysql_user:
      login_host: 'localhost'
      login_user: 'root'
      login_password: ''
      name: 'root'
      password: '{{ var_pass }}'
      state: present

   - name: Implementing Secure Installation - Removes anonymous user account for localhost
     mysql_user:
      login_user: 'root'
      login_password: '{{ var_pass }}'
      name: ''
      host: localhost
      state: absent

   - name: Implementing Secure Installation - Remove MySQL test database
     mysql_db:
      login_user: 'root'
      login_password: '{{ var_pass }}'
      name: test
      state: absent

   - name: Check for MySQL version
     shell: mysql --version
     register: mysqlv

   - name: Show output
     debug:
       msg: "{{ mysqlv.stdout }}"

 - name: Installing PHP packages
   hosts: Ubuntu

   vars_files:
   - group_vars/variable

   tasks:

   - name: Installing PHP
     apt:
      name:
       - php
       - libapache2-mod-php
       - php-mysql

   - name: Checking PHP version
     shell: php -v
     register: phpv

   - name: Show output
     debug:
       msg: "{{ phpv.stdout }}"
